<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <h2>Admin Dashboard</h2>
    </div>
  </div>

  <div class="level-right">
    <%= link_to 'Dashboard', admin_index_path, class: 'level-item is-size-4' %>
    <%= link_to 'Merchants', admin_merchants_path, class: 'level-item is-size-4' %>
    <%= link_to 'Invoices', admin_invoices_path, class: 'level-item is-size-4' %>
  </div>
</nav>
<hr>