<section class="section is-size-4" id="invoice-info">
  <p>Created on: <%= @invoice.date %></p>
  <p>Total Revenue: <%= number_to_currency(@invoice.total_revenue, precision: 0) %></p>

  <section class="section" id="customer-info">
    <p class="title">Customer:</p>
    <section class="section">
      <p><%= @invoice.customer_name %></p>
      <p>123 Drury Ln
      <p>Nowhere, ID 10001
    </section>
  </section>
</section>
