<%= render 'admin/dashboard/admin_nav' %>

<h3 class="has-text-centered">Merchant: <%= @merchant.name %></h3>

<%= link_to "Edit Merchant's Info", edit_admin_merchant_path(@merchant), class: 'button block is-large is-fullwidth is-primary' %>